body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #0A0C1B;
}

.main-box{
    position: absolute;
    width: 1300px;
    height: 570px;
    margin: auto;
    left: 70px;
    top: 227px;
    background: #1C1938;
    border-radius: 10px;
}

.text-box{
    position: absolute;
    width: 469px;
    height: 331px;
    left: 157px;
    top: 100px; 
}

.main-text{
    position: absolute;
    /* width: 469px; */
    height: 112px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.text{
    position: absolute;
    width: 469px;
    height: 105px;
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #AEACC5;
}

.stats{
    position: absolute;
    width: 420px;
    height: 59px;
    /* left: 157px; */
    top: 300px;
}



h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
}

p{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    color: #AEACC5;
}


.image-box{
    position: absolute;
    width: 650px;
    height: 570px;
    left: 720px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(106, 59, 139, 0.6), rgba(106, 59, 139, 0.6)), url(images/image-header-desktop.jpg);
    border-radius: 0px 10px 10px 0px;
}

.indigo{
    color: hsl(277, 64%, 61%);
}



@media (max-width: 375px) { 
    body{
        width: 100vh;
    }

    .main-box{
        position: absolute;
        width: 340px;
        height: 838px;
        left: 18px;
        top: 59px;

        background: #1C1938;
        border-radius: 12px;
    }

    .image-box{
        position: absolute;
        width: 340px;
        height: 229px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(164, 86, 207, 0.3), rgba(164, 86, 207, 0.3)), url(images/image-header-mobile.jpg), no-repeat;
        border-radius: 12px 12px 0px 0px;
    }

    .text-box{
        position: absolute;
        width: 325px;
        height: 550px;
        left: 10px;
        top: 250px;
    }

    .main-text{
        font-size: 32px;
        text-align: center;
        height: 117px;
    }

    .text{
        width: auto;
        text-align: center;
        top: 180px;
    }

    .stats{
        position: absolute;
        width: 89px;
        height: 250px;
        left: 125px;
        top: 320px;
        text-align: center;

    }

}



